.form {
  background-image: url("../images/form-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  @media (max-width: 768px) {
    padding-bottom: 40px;
  }

  &.active {
    display: block;
  }

  //   form__botn

  &__btn {
    background-color: #d02b2b;
    padding: 10px 60px;
    color: #fff;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 400;
  }

  // .form__inner

  &__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 24px;

    max-width: 464px;
    width: 100%;

    @media (max-width: 1080px) {
      position: static;
      margin-left: 0;
      transform: none;
    }
  }

  //   form__message

  &__message {
    padding: 15px 0 15px 22px;
    border: 2px solid #fff;
    border-radius: 8px;

    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    outline: none;

    background-color: transparent;

    &::placeholder {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
    }
  }

  // .form__title

  &__title {
    color: #fff;
    font-family: "Risque";
    font-size: clamp(3.25rem, 3.136rem + 0.4vw, 3.5rem);
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 80px;

    @media (max-width: 1080px) {
      margin-top: 0;
      padding: 130px 0 0 0;
    }
  }

  // .form__input

  &__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;

    margin-bottom: 18px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
    }

    input {
      padding: 12px 0 12px 22px;
      border: 2px solid #fff;
      border-radius: 8px;

      color: #fff;
      font-size: 16px;
      font-weight: 400;
      width: 100%;

      &::placeholder {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  // .form__input-dropdowm

  &__input-dropdowm {
    width: 100%;
    position: relative;

    * {
      cursor: pointer;
    }
    .top {
      position: relative;
      z-index: 3;
    }
    .bottom {
      position: absolute;
      top: 0;

      background-color: #fff;
      width: 100%;
      padding: 50px 0 0 0;

      border-radius: 8px;

      opacity: 0;
      visibility: hidden;
      max-height: 100px;
      pointer-events: none;
    }

    .icon {
      position: absolute;
      right: 22px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // .form__input-item

  &__input-item {
    button {
      color: #cecece;
      font-size: 16px;
      font-weight: 400;

      padding: 10px 20px;
      width: 100%;
      text-align: left;

      &:hover {
        color: #d02b2b;
      }
    }
  }

  // .form__message

  &__message {
    @media (max-width: 768px) {
      height: 88px;
    }
  }
}

.form__input-dropdowm {
  &:hover {
    .top {
      border-radius: 15px;
      background: #e5e5e5;
      color: #000;

      .icon {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    .bottom {
      opacity: 1;
      visibility: visible;
      max-height: 300px;
      pointer-events: all;
    }
  }
}

form {
  max-width: 468px;
  width: 100%;
}


.inp-btn {
  text-align: left;
}