.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 40px;
  z-index: 10;

  @media (max-width: 1080px) {
    top: 26px;
  }

  &__logo {
    @media (max-width: 1080px) {
      max-width: 190px;
    }
  }

  // .header__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__end

  &__end {
    display: flex;
    align-items: center;
    gap: 180px;
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
    gap: 62px;

    @media (max-width: 1080px) {
      display: none;
    }
  }

  // .header__list-link

  &__list-link {
    position: relative;

    display: flex;
    position: relative;
    overflow: hidden;

    flex-direction: column;
    justify-content: flex-start;

    span {
      color: #fff;
      font-size: 16px;
      font-weight: 400;

      &:nth-child(2) {
        color: #d02b2b;
      }
    }
  }

  // .header__btn

  &__btn {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 5px;

    position: relative;
    z-index: 101;

    // border-radius: 100px 0 100px 100px;
    // background-color: #d02b2b;
    // box-shadow: 4px 8px 0 0 rgba(0, 0, 0, 0.1);

    width: 60px;
    height: 60px;

    span {
      display: block;
      height: 3px;
      width: 34px;
      background-color: #fff;
    }
  }
}

.header__list-item {
  position: relative;
  overflow: hidden;
  max-height: 19px;
}

.header__list-item:hover {
  .header__list-link {
    overflow: hidden;
    transform: translateY(-19px);
  }
}

// animation burger btn

/* активный бургер -> крест */
.header__btn.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.header__btn.active span:nth-child(2) {
  opacity: 0;
}

.header__btn.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
