.hero {
  position: relative;

  // .hero__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 451px) {
      grid-template-columns: 1fr;
    }
  }

  //   hero__snow

  &__snow {
    position: absolute;
    bottom: 0;
    left: -25%;
    pointer-events: none;

    @media (max-width: 451px) {
      display: none;
    }
  }

  // .hero__content

  &__content {
    position: absolute;
    top: 48%;
    transform: translateY(-50%) translateX(22%);
    z-index: 10;

    @media (max-width: 451px) {
      position: static;
      transform: none;
      margin: 29vh 0 0 0;
    }
  }

  // .hero__content-title

  &__content-title {
    color: #fff;
    font-family: "Risque";
    font-size: clamp(3.25rem, 2.682rem + 2.02vw, 4.5rem);
    font-weight: 400;
  }

  // .hero__content-subtitle

  &__content-subtitle {
    color: #fff;
    font-family: "Risque";
    font-size: clamp(1.75rem, 1.466rem + 1.01vw, 2.375rem);
    font-weight: 400;

    margin: 20px 0 28px 0;
  }

  // .hero__content-btn

  &__content-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 400;

    border-radius: 20px 20px 20px 0;
    border: 2px solid #fff;
    background: rgba(196, 196, 196, 0);

    width: 186.353px;
    height: 48px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 451px) {
      margin: 0 auto;
    }

    @media (min-width: 1080px) {
      &:hover {
        border-radius: 20px;
        background-color: #d02b2b;
        border: 2px solid #d02b2b;
        color: #fff;
      }
    }
  }
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  width: max-content;

  // @media (max-width: 768px) {
  //   right: auto;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  .hero__new {
    width: 61vw;

    @media (max-width: 451px) {
      max-width: 100vw;
      height: auto;
      width: 100%;
    }
  }
  // .hero-img__content

  &__content {
    position: absolute;
    left: 11%;
    top: 30%;

    height: 160px;
    max-width: 280px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1080px) {
      left: 0;

      display: none;
    }

    &-message {
      max-width: 280px;
    }
  }

  // .hero-img__content-subtitle

  &__content-subtitle {
    position: absolute;
    z-index: 1;

    color: #000;
    font-family: "Risque";
    font-size: 18px;
    font-weight: 400;

    max-width: 280px;
    width: 100%;

    margin-left: 90px;
  }
}

#typing-text {
  display: inline-block;
  white-space: pre-line; /* учитывает переносы <br> */
  border-right: 2px solid #ffffff00;
  font-size: 18px;
  animation: caret 0.7s infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
