.menu {
  position: relative;

  &__inner {
    background-color: red;
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 100px 0 100px 100px;
    background: #d02b2b;
    box-shadow: 4px 8px 0 0 rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    top: 0;

    z-index: -1;
  }

  &__list {
    display: none;

    flex-direction: column;
    gap: 42px;
    align-items: center;

    &-link {
      color: #fff;
      font-family: "Risque";
      font-size: 32px;
      font-weight: 400;
      display: block;

      &:hover {
        transform: translateX(10px);
        opacity: 0.6;
      }
    }
  }
}

.menu__inner {
  transition: none;
  &.active {
    animation: menuAnimation 1s ease forwards;
    border-radius: 0 0 0 100%;
    transition: none;

    display: flex;
    align-items: center;

    padding-top: 25vh;

    flex-direction: column;

    @media (max-width: 768px) {
      border-radius: 0;
    }

    .menu__list {
      display: flex;
    }
  }
}

@keyframes menuAnimation {
  0% {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    top: 0;

    display: none;
  }
  1% {
    position: fixed;
    right: -60px;
    top: -60px;
    left: auto;
    bottom: auto;
    z-index: 100;
  }
  100% {
    position: fixed;
    right: 0%;
    top: 0%;
    left: auto;
    bottom: auto;

    width: 70%;
    height: 100vh;

    z-index: 100;
    transition: 4.2s ease;
  }
}

@media (max-width: 768px) {
  @keyframes menuAnimation {
    0% {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      top: 0;

      display: none;

      height: 100vh;
    }
    1% {
      position: fixed;
      right: 0;
      top: 0;
      left: auto;
      bottom: auto;
      z-index: 100;
    }
    100% {
      position: fixed;
      right: 0%;
      top: 0%;
      left: auto;
      bottom: auto;

      width: 100%;
      height: 100vh;

      z-index: 100;
      transition: 4.2s ease;
    }
  }
}
