@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Risque";
  src: url("../fonts/Risque-Regular.woff2") format("woff2");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  transition: 0.2s ease-in-out;
}
body {
  margin: 0;
  padding: 0;
  background-color: #141429;
  height: 100vh;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
.wrapper {
  height: 100vh;
}
.slide {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.btn-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.input-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// Custom

.container {
  max-width: 1384px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 451px) {
    padding: 0 26px;
  }
}

.slide {
  height: 100vh;
  overflow: hidden;
}

.slide:nth-child(1) {
  position: sticky;
  top: 0;
}
.slide:nth-child(2) {
  position: sticky;
  top: 0;

  @media (max-width: 1080px) {
    height: 100% !important;
    position: sticky;
    z-index: 3;
  }
}

.slide:nth-child(3) {
  position: sticky;
  top: 0;
  z-index: 5;

  @media (max-width: 768px) {
    height: max-content;
  }
}

#typing-text {
  display: inline-block;
  white-space: pre-line; /* учитывает переносы <br> */
  border-right: 2px solid #ffffff00;
  font-size: 24px;
  animation: caret 0.7s infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

// checkbox

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  color: #e60000; /* красный текст */

  margin: 18px 0;
}

/* скрываем стандартный чекбокс */
.custom-checkbox input {
  appearance: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* кастомный квадрат */
.custom-checkbox .checkbox {
  min-width: 20px;
  min-height: 20px;
  border: 2px solid #e60000; /* красная рамка */
  border-radius: 2px;
  position: relative;
}

/* галочка */
.custom-checkbox input:checked + .checkbox::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 6px;
  border-left: 2px solid #e60000;
  border-bottom: 2px solid #e60000;
  transform: rotate(-45deg);
  top: 44%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(-50deg);
}

.form__btn:disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.snow {
  animation: rotateSnow 30s linear infinite;
  transform-origin: center;
}

@keyframes rotateSnow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-img__content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.hero-img__content.show {
  opacity: 1;
  transform: translateX(0);
}

.hero__new {
  transition: opacity 0.6s ease;
  opacity: 1;
}

.hero__new.fade-out {
  transition: opacity 0.6s ease;
  opacity: 0;
}
